<html>
	<head>
		<title>Handle POST requests with Flask</title>
	</head>
	<body>
		<div>
			<div>
				<h1>POST request with Flask</h1>
			</div>
			<div>
				Led <strong>{{ color }}</strong> ({{ level }})!
			</div>
			<div>
				<h1>Flask code</h1>
			</div>
				<code><pre>
@app.route('/change/', methods=['POST'])
def change():
    color=request.form['ledcolor']
    level=request.form['brightness']
    return render_template('form_action.html',color=color, level=level)
				</pre></code>
		</div>
	</body>	
</html>
